/* About Section Styles */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px; 
    background-image: url('../assets/BallsPattern3.png');
    background-position: right;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

/* Left Div: Text and Button */
.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh; 
}

/* .section-about {
    background-image: url('../assets/BallsPattern.png');
} */

.about-title {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-description {
    margin-bottom: 20px;
    line-height: 2;
}

/* Read More Button */
.read-more-btn {
    background-color: #BF9447;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    display:block;
    width: 50%;
}

.read-more-btn:hover {
    background-color: #BF9447;
    color: white;
}

/* Right Div: Images */
.about-images {
    position: relative;
    width: 50%; /* Adjust width as needed */
}

.about-img {
    width: 90%;
    height: auto;
    border-radius: 8px;
}

.img1 {
    width: 80%;
}
.img2 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 50px;
    width: 150%; /* Adjust size as needed */
    z-index: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .about-images {
        width: 100%;
    }

    .img2 {
        position: static;
        margin-top: 10px;
    }

    .read-more-btn {
        width: 100%;
        margin-top: 10px;
    }
}
