/* Gallery Section Styles */
.gallery-section {
  position: relative;
  padding: 40px ;
  margin-bottom: 20px;
  height: 100vh;
  background-image: url('../assets/Ellipse9.png'); /* Background photo */
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

/* Header Styling */
.gallery-header {
  font-size: 48px;
  color: #fff;
  margin-bottom: 60px;
  margin-left: 50px;
  text-align: start !important;
}

/* Gallery Container */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2x2 grid */
  gap: 20px;
  width: 100%;
  margin-left: 50px
}

/* Gallery Item Styling (Triangular Shape) */
.gallery-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Make it a square */
  overflow: hidden;
  border-radius: 30px;
}

/* Image Styling inside the Triangle */
.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;

}

.triangle-bottom {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  
}
/* Image 2 - Triangle with Base on the Right */
.triangle-right {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}
/* Image 3 - Triangle with Base on the Left */
.triangle-left {
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

/* Image 4 - Triangle with Base at the Top */
.triangle-top {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
/* Example: Rotate and Scale Image 1 */
.triangle-bottom img {
  
  transform: rotate(10deg) scale(1.2); /* Adjust rotation and scale */
}




/* Responsive Design */
@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: 1fr; /* Stack images in one column */
    width: 80%;
  }

  .gallery-header {
    font-size: 36px;
  }
}
