/* Custom Navbar Styles */
.custom-navbar {
  height: 100px;
  line-height: 70px;
  padding: 0 15px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  transition: height 0.3s ease-in-out;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1050;
}

/* To hide the navbar */
.hidden {
  transform: translateY(-100%); /* Move the navbar up out of view */
}
/* Logo Styling */
.custom-logo {
  height: 50px;
  width: auto;
  max-height: 50px;
  transition: height 0.3s ease-in-out;
}

/* Navigation Links Styling */
.nav-item {
  color: white;
  margin: 5px 15px;
  text-decoration: none;
  font-weight: 500;
}

.nav-item:hover {
  color: orange;
  text-decoration: underline;
}

/* Active Link Styling */
.active-link {
  color: orange;
  text-decoration: underline;
}

.nav-item.nav-link:hover {
  color: orange !important;
  text-decoration: underline;
}

/* Translation Button */
.translation-button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  margin-left: auto;
}
.translation-button:hover{
  background-color: darkorange;
}
.arrow {
  font-size: 10px;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .custom-navbar{
    height: 70px; /* Adjust height for smaller screens */
    padding: 0 10px;
  }
  .custom-navbar > * {
    flex: 1; /* Ensure equal spacing */
    text-align: center;
  }
  .navbar-nav {
    display: none; /* Hide the navigation links */
  }

  .dropdown {
    display: inline-block; /* Show the dropdown button */
    margin-left: auto;
  }

  /* Center navbar content on smaller screens */
  .navbar-collapse {
    text-align: center;
  }

  /* Show the logo */
  .custom-logo {
    display: block;
  }

  .translation-button {
    margin-top: 15px;
    margin-left: auto;
  }
}
/* Hide the dropdown menu on large screens */
@media (min-width: 992px) {
  .dropdown {
    display: none; /* Hide the dropdown button */
  }
}
/* Make Navbar Sticky on Mobile */
@media (max-width: 768px) {
  .custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Ensure it stays above other content */
  }
}