.participant-container {
  padding: 50px 40px;
  background-color: none; /* Dark background */
  margin: 30px 30px;
}

.participant-image {
  background-image: url('../assets/Ellipse3.png') ;
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 30px;
  margin: 30px 0px;
  max-width: 100%; 
  border-radius: 8px;
}

.participant-name {
  color: white;
  margin-top: 10px;
}

/* Arrow styles */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.007);
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
