.participants-section {
    padding: 5px; /* Space around the section */
 
    height: 400px;
    background-image: url('../assets/Sparks.png');
    background-size: cover;
    background-position: center;
  }
  
  .arrow-col {
    display: flex;
    justify-content: center; /* Center the arrows vertically */
    align-items: center; /* Center the arrows vertically */

  }
  
  .arrow {
    width: 15px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    display: none; /* Hidden by default */
  }
  
  .participants-col {
    display: flex;
    justify-content: center; /* Center the participant images */
    margin: 50px;
    width: 20%;
 
  }
  
  .participants-row {
    display: flex;
    justify-content: space-between; /* Space between participant images */
    gap: 50px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
  }
  
  .participant-col {
    display: flex;
    justify-content: center; /* Center the images in each column */
    margin: 20px; /* Space between images */
  }
  
  .participant-image {
    max-width: 50%; /* Responsive images */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .arrow {
      display: none; /* Hide arrows on smaller screens */
    }
  
    .participants-row {
      flex-direction: column; /* Stack images vertically */
    }
  
    .participant-col {
      margin: 5px 0; /* Space between images when stacked */
      width: 100%; /* Full width for each participant image */
    }
  }
  