/* Section Styling */
.skill-and-speed-section {
  padding: 20px 0;
  margin: 20px 20px; /* Adjust spacing */
  display: flex;
  align-items: center;  
  justify-content: center;
  background-image: url('../assets/BallsPattern2.png') ;
  background-size: 30%;
  background-position: start;
  background-repeat: no-repeat;
  overflow: hidden;
}

.h-100 {
  height: 80%;
}
/* Left Section: Center Text Content */
.text-section {
  text-align: center;
  padding: 20px;
}

.section-title{
  color: #BF9447 !important ;
  max-width: 80%;
}
.section-description{
  color: white;
  text-align: start;
}

.text-content {
  max-width: 100%;
}
@media (min-width: 768px) {
  .text-content {
    max-width: 50%;
  }
}

/* Image Section: Single Image Styling */
.image-section {
  height: 100vh;
  min-height: 500px;
  object-fit: cover;
  overflow: hidden;
}


.single-image {
  width: 100%; /* Responsive image */
  height: 110%; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Add rounded corners */
}

@media (min-width: 768px) {
  .image-section {
    height: 400px;
  }
}

