* {
    /* background: url('./assets/Backgound.png'); */
    margin: 0;
    padding: 0;
  }

  .main {
    /* background-color: #013220 !important; */
    background: url('./assets/Backgound.png') !important;
}
body{
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
